/***********************************************************************************************************************
MOBILE
***********************************************************************************************************************/
img {
	max-width: 100%;
	display: block;
}

.container {
	display: flex;
	/*max-width: 100%;*/
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-start;
}

.header {
	background: purple;
	flex: 0 1 100%;
}

.category {
	background: lightgrey;
	flex: 0 1 100%;
}

/***********************************************************************************************************************
TABLET
***********************************************************************************************************************/
@media (min-width: 800px) {
	.category {
		flex: 0 1 50%;
	}
}

/***********************************************************************************************************************
DESKTOP
***********************************************************************************************************************/
@media (min-width: 1000px) {
	.category {
		flex: 0 1 500px;
	}
}